<footer class="footer">
  <div class="container">
    <p class="text-muted">Absolutely. Awesome.</p>
    <span class="glyphicon glyphicon-pencil">
    </span>
    <span class="glyphicon glyphicon-user"></span>
    <span class="glyphicon glyphicon-search"></span>
  </div>
</footer>
