<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{title}}</title>
  </head>
  <body class="h-gradient">
      {{{body}}}

      {{{footer}}}
    <link rel='stylesheet' href='/css/style.css' />
    <script src='/bundle.js'></script>
  </body>
</html>
