<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='bundle.js'></script>
  </head>
  <body class="h-gradient" id="initial-react">
    {{{body}}}
  </body>
</html>
