@import "bootstrap";
@import "bootstrap/theme";

$font-stack: "Lucida Grande", Helvetica, sans-serif, arial;

html {
  position: relative;
  min-height: 100%;
}

body {
  font: 24px $font-stack;
  margin-bottom: 30px;
}

a {
  color: #00B7FF
}

body>div {
  text-align: center;
  font: 48px $font-stack;
}

.h-gradient {
  
}

.content-main {
  @include make-lg-column(12);
}

body .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #aaaaaa;
  font-size: 18px;
  padding: 5px;
  text-align: right;
}

.footer p {
}

.container {
  width: auto;
}